extends layout

block content
	center
		h1= title
		form(action="/starttimer", method="post")
			div(id="field-container", class="container")
				label UserName
				input(type='text',name='username', maxlength='20') 
				br
				input(type='submit', value='Start')